.sidebar {
    max-width: 20%;
    height: 100vh;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    border: 1px solid #dcdcdc;
}

@media (max-width: 768px) {
  .sidebar {
    max-width: fit-content;
    padding: 10px 5px;
  }

  .sidebar .label {
    display: none; 
  }

  .side-icon {
    justify-content: center; 
  }

  .side-item {
    padding: 10px 0;
  }

}
.sidebar-logo {
    margin-bottom: w0px;
}

.sidebar-nav {
    flex-grow: 1;
}

.side-item {
    display: flex;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    margin-bottom: 5px;
    border-radius: 4px;
    align-items: center; 
}

.side-item:hover,
.side-item.active {
    background-color: #d4d3d3;
}

.sidebar-footer {
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.side-icon {
  margin-left: 8px;
  height: 25px;
}

.label {
  font-weight: regular; 
  margin-left: 40px;
}

.side-icon,
.label {
  display: block;
}